.chosen-container-single .chosen-single {
	padding: 2px 0 2px 8px;
}

.chosen-container-single .chosen-single div b:before {
	display: block;
	width: 17px;
	height: 17px;
	position: absolute;
	right: 2px;
	top: 0px;
	font-family: dashicons;
	font-size: 15px;
	content: '';
	color: #50575e;
	margin-top: 1px;
}

.chosen-container-single .chosen-search input[type=text]:before {
	display: block;
	width: 20px;
	height: 20px;
	font-family: dashicons;
}

.chosen-container-single .chosen-search:after {
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	right: 10px;
	top: 10px;
	color: #c3c4c7;
	font-family: dashicons;
	font-size: 18px;
	line-height: 18px;
	content: '\f179';
}

.chosen-container-multi .chosen-choices,
.chosen-container-single .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
	background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55%;
	background-size: 16px 16px;
	border-radius: 4px;
	border: 1px solid #8c8f94;
	box-shadow: 0 0 0 transparent;
	color: #2c3338;
}

.chosen-container-single .chosen-default {
	color: #a7aaad;
}

.chosen-container-single .chosen-single,
.chosen-container-single.chosen-container-active.chosen-with-drop .chosen-single {
	min-height: 30px;
	height: 100%;
}

.chosen-container-active.chosen-with-drop .chosen-single {
	border-radius: 4px 4px 0 0;
}

.chosen-container-active .chosen-single {
	border-color: transparent;
	outline: 2px solid transparent;
}

.chosen-container-multi .chosen-choices li.search-field {
	min-width: 100px !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
	min-height: 28px !important;
	width: auto !important;
}

.chosen-container-multi.chosen-with-drop .chosen-choices {
	border-bottom-color: transparent;
}

.chosen-container-single .chosen-single div {
	width: 20px;
}
.chosen-container-single .chosen-single span {
	margin-right: 18px;
}

.chosen-container .chosen-drop {
	position: absolute;
	top: 100%;
	width: 100%;
	border-radius: 0 0 4px 4px;
	border-width: 0 1px 0 1px;
	border-color: transparent;
	background: #fff;
	outline: 2px solid transparent;
}

.chosen-container.chosen-dropup .chosen-drop {
	border-width: 0 1px;
	bottom: calc( 100% - 1px );
}

.chosen-container-single .chosen-search input[type=text] {
	margin: 1px 0;
	padding: 4px 24px 4px 5px;
	width: 100% !important;
	height: auto;
	outline: 0;
	line-height: normal;
	border: 1px solid #dcdcde;
	border-radius: 4px;
	box-shadow: none;
}

.chosen-container .chosen-results {
	color: #3c434a;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 4px !important;
	padding: 0 !important;
	max-height: 240px;
}

.chosen-container .chosen-results li.highlighted {
	color: #fff;
}

.chosen-container-multi .chosen-choices li.search-choice {
	margin: 3px 5px 3px 0;
	padding: 5px 22px 5px 5px;
	border: 1px solid #dcdcde;
	max-width: 100%;
	border-radius: 0;
	background: #f6f7f7;
	box-shadow: none;
	color: #2c3338;
	cursor: default;
}

.chosen-container .search-choice-close {
	width: 15px;
	height: 15px;
	padding: 0;
	display: block;
}

.chosen-container .search-choice-close,
.chosen-container .search-choice-close:hover,
.chosen-container .search-choice-close:active {
	background: none;
}

.chosen-container .search-choice-close:before {
	height: 15px;
	width: 15px;
	position: absolute;
	top: 0;
	right: 0;
	color: #50575e;
	font-family: 'dashicons';
	content: '\f158';
	font-size: 15px;
	line-height: 15px;
}

.chosen-container .search-choice-close:hover:before {
	color: #a7aaad;
}

.chosen-container-single .chosen-single .search-choice-close {
	right: 22px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	top: 4px;
	right: 3px;
}

.chosen-container-multi .spinner {
	position: absolute;
	top: 4px;
	right: -4px;
}

.chosen-container-single .chosen-single abbr {
	position: absolute;
	top: 4px;
	right: 20px;
	display: block;
	width: 18px;
	height: 18px;
	color: #646970;
}

.chosen-container-single .chosen-single abbr:before {
	height: 15px;
	width: 15px;
	position: absolute;
	top: 2px;
	font-family: 'dashicons';
	content: '\f158';
	font-size: 15px;
	line-height: 15px;
}

.chosen-container-single .chosen-single abbr:hover {
	color: #d63638;
}
