/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/AGENTS.md export-ignore
/CONTRIBUTING.md export-ignore
/README.md export-ignore
/SECURITY.md export-ignore
/SUPPORT.md export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/phpunit.xml.dist export-ignore
/tests export-ignore
/wp-chosen/assets/css/postcss-configs export-ignore
/wp-chosen/assets/css/scss export-ignore
