/* Sunrise */
body.admin-color-sunrise .chosen-container-active .chosen-single {
	border-color: #dd823b;
	box-shadow: 0 0 0 1px #dd823b;
}
body.admin-color-sunrise .chosen-container .chosen-drop {
	border-color: #dd823b;
	box-shadow: 0 1px 0 1px #dd823b;
}
body.admin-color-sunrise .chosen-container.chosen-dropup .chosen-drop {
	box-shadow: 0 -1px 0 1px #dd823b;
}
body.admin-color-sunrise .chosen-container .chosen-results li.highlighted {
	background-color: #dd823b;
}
